.container{
    height: 100px;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 999;
    position: sticky;
    position: relative;
}

.list{
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
}

.listItem{
    margin: 20px;
    cursor: pointer;
    color: #fff;
}

.hamburger{
    display: none;
}

.menu{
    display: none;
}

@media screen and (max-width: 480px) {
    .container{
        padding: 0 20px; 
        position: relative;
    }

    .logo{
        width: 40vw;
        height: 40vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .list{
        display: none;
    }

    .hamburger{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25px;
        height: 20px;
        cursor: pointer;
    }

    .line{
        width: 100%;
        height: 3px;
        background-color: #fff;
    }

    .menu{
        position: fixed;
        height: calc(100vh - 100px);
        width: 50vw;
        background-image: linear-gradient(#294877, #15243C);
        top: 100px;
        margin: 0;
        padding: 0;
        font-weight: 300;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 999;
        color: #fff;
        transition: 0.2s all ease-in;
        box-shadow: #15243C ;
    }

    .menuItem{
        margin: 2rem;
    }
}